<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>标签管理</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="admin/_fragments :: menu(3)"  class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
</nav>
<!--中间内容-->
<div class="container-fluid" style="margin-top: 10px; border-bottom:2px solid #f0f0f0 ;">
  <ul class="nav nav-tabs pull-right" style="margin-right: 5%;">
    <li><a href="#" th:href="@{/admin/tags/input}">发布</a></li>
    <li class="active"><a href="#" th:href="@{/admin/tags}">列表</a></li>
  </ul>
</div>
<div class="container" style="width: 70%;margin-top: 15px;">
  <div class="row" style="margin-top: 10px;margin-bottom:  10px;">
    <table class="table table-hover"
           style="border: 1px solid silver;border-radius: 3px;background-color: #fff;">
      <thead>
      <tr>
        <th></th>
        <th>标签名称</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="tag,iterStat : ${page.content}">
        <td th:text="${iterStat.count}">1</td>
        <td th:text="${tag.name}">刻意练习清单</td>

        <td>
          <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="btn-xs"
             style="padding:3px 5px;border: 2px solid skyblue ;border-radius: 3px;background-color: #fff;text-decoration: none;">编辑</a>
          <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="btn-xs"
             style="padding:3px 5px;border: 2px solid red ;border-radius: 3px;background-color: #fff;color: red;text-decoration: none;">删除</a>
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="7">
          <!--              页数大于一才显示上一页下一页-->
          <ul class="pagination pagination-sm" style="margin: 5px 0;" th:if="${page.totalPages}>1">
            <li><a th:href="@{/admin/tags(page=${page.number}-1)}" class="item"
                   th:unless="${page.first}">上一页</a></li>

            <li><a th:href="@{/admin/tags(page=${page.number}+1)}" class="item"
                   th:unless="${page.last}">下一页</a></li>
          </ul>
          <a href="#" th:href="@{/admin/tags/input}" class="pull-right btn btn-primary" style="margin: 5px 0;"
             role="button">新增</a>
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
  <div class="row" th:unless="${#strings.isEmpty(message)}">
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        &times;
      </button>
      <span th:text="${message}"> 成功！完成提交。</span>
    </div>
  </div>
</div>
<!--底部footer-->
<footer th:replace="admin/_fragments :: footer"  class="ui inverted vertical segment m-padded-tb-massive">
</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('.ui.dropdown').dropdown({
    on : 'hover'
  });

  //消息提示关闭初始化
  $('.row .alert')
          .on('click', function () {
            $(this)
                    .closest('.message')
                    .transition('fade');
          });
</script>
</body>
</html>