@font-face {
  font-family: "iconfont"; /* Project id 3449391 */
  src: url('iconfont.woff2?t=1678889039484') format('woff2'),
       url('iconfont.woff?t=1678889039484') format('woff'),
       url('iconfont.ttf?t=1678889039484') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-xieboke:before {
  content: "\e624";
}

.icon-guanyuwo1:before {
  content: "\e62b";
}

.icon-calendar-v2:before {
  content: "\e9aa";
}

.icon-liulan:before {
  content: "\e6c6";
}

.icon-guanyuwo:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-24gf-tags2:before {
  content: "\e887";
}

.icon-jingqizhushou:before {
  content: "\e634";
}

.icon-icon-person-hushi:before {
  content: "\e607";
}

.icon-a-icon-person-nv2:before {
  content: "\e608";
}

.icon-icon-person-xuewei:before {
  content: "\e609";
}

.icon-icon-person-nv:before {
  content: "\e60a";
}

.icon-qianqian-:before {
  content: "\e606";
}

.icon-refresh:before {
  content: "\e981";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-gouwuche:before {
  content: "\e64c";
}

.icon-xiajiantou:before {
  content: "\e6cc";
}

.icon-jiantouxia:before {
  content: "\e62d";
}

